
<div class="centered">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu">
                <div class="list-element" *ngFor="let list of lists">
                    <a class="list-menu-item is-active" (click)="redirectTo('/lists', list.id)">
                        <p > 
                            {{list.title}} 
                        </p>
                    </a>
                    <div class="icon" (click)="redirectTo('/lists/edit', list.id)"><mat-icon class="is-right" >edit</mat-icon></div>
                </div>
            </div>
        <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>
        </div>
        <div class="tasklist has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>

            <div class="taks" *ngFor="let task of tasks" >
                <p>{{task.text}}</p>
            </div>
            <button class="add-button button " routerLink="./new-task">
               + 
            </button>
        </div>
    </div>
</div>
