<div class="centered">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu">
                <a class="list-menu-item is-active"><p>ist one</p></a>
                <a class="list-menu-item"><p>ist one</p></a>
                <a class="list-menu-item"><p>ist one</p></a>
                <a class="list-menu-item"><p>ist one</p></a>
            </div>
        <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>
        </div>
        <div class="tasklist has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>

            <div class="taks">
                <p>Task number one</p>
            </div>
            <div class="taks completed">
                <p>Task number one</p>
            </div>
            <div class="taks">
                <p>Task number one</p>
            </div>
            <div class="taks">
                <p>Task number one</p>
            </div>

        </div>
    </div>
</div>
