.modal-box{
    min-height:280px;
    width:100%;
    max-width: 580px;
    background: white;
    border-radius: 5px;
    text-align: center;
}
.input{
    width:80%;
    margin-top:10px;
    margin-bottom:30px;
}
.button{
    width:30%;
    font-size: 28px;
    font-weight: bold;
    margin: 0px 10px;
}